@model List<TarjetaCredito>

@{
    ViewData["Title"] = "Estado de Cuenta de TC";
}

<div class="d-flex justify-content-between">
    <h1>@ViewData["Title"]</h1>
    <div class="align-self-center">
        <input type="button"
               class="btn btn-success"
               value="Generar Excel"
               onclick="location.href='@Url.Action("GenerarExcel", new { id = Model[0].Id })'" />
    </div>
</div>

<div style="padding-top:2%; padding-bottom:2%">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Nombre del Cliente:
            </p>
            <p class="w-50">
                @Model[0].Nombres @Model[0].Apellidos
            </p>
        </div>
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Saldo Actual:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].SaldoActual.ToString("C")
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Nombre de Tarjeta de Crédito:
            </p>
            <p class="w-50">
                @Model[0].NumeroTarjetaMask
            </p>
        </div>
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Limite:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].Limite.ToString("C")
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Compras @Model[0].NombreMesPrev:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].ComprasPrevio.ToString("C")
            </p>
        </div>
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Interés Bonificable:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].InteresBonificable.ToString("C")
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Compras @Model[0].NombreMesAct:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].ComprasActual.ToString("C")
            </p>
        </div>
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Saldo Disponible:
            </p>
            <p class="w-50" style="text-align:end">
                @Model[0].SaldoDisponible.ToString("C")
            </p>
        </div>
    </div>
</div>

<table class="table" style="border:1px solid black">
    <thead>
        <tr>
            <th style="border:1px solid black; width: 20%">
                @Html.DisplayNameFor(model => model[0].Transacciones[0].NumeroAutorizacion)
            </th>
            <th style="border:1px solid black; width: 20%">
                @Html.DisplayNameFor(model => model[0].Transacciones[0].Fecha)
            </th>
            <th style="border:1px solid black; width: 40%">
                @Html.DisplayNameFor(model => model[0].Transacciones[0].Descripcion)
            </th>
            <th style="border:1px solid black; width: 20%">
                @Html.DisplayNameFor(model => model[0].Transacciones[0].MontoText)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model[0].Transacciones)
        {
            <tr>
                <td style="border:1px solid black; width: 20%">
                    @Html.DisplayFor(modelItem => item.NumeroAutorizacion)
                </td>
                <td style="border:1px solid black; width: 20%">
                    @Html.DisplayFor(modelItem => item.FechaText)
                </td>
                <td style="border:1px solid black; width: 40%">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td style="border:1px solid black; width: 20%; text-align:end">
                    @Html.DisplayFor(modelItem => item.MontoText)
                </td>
            </tr>
        }
    </tbody>
</table>
