@model TarjetaCredito

@{
    ViewData["Title"] = "Registro de Pago";
}

<h1>@ViewData["Title"]</h1>

<div style="padding-top:2%; padding-bottom:2%">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Nombre del Cliente:
            </p>
            <p class="w-50">
                @Model.NombreCompleto
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 45%">
            <p class="w-50" style="font-weight:bold">
                Número de Tarjeta de Crédito:
            </p>
            <p class="w-50">
                @Model.NumeroTarjetaMask
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistraPago">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Transacciones[0].Fecha" class="control-label"></label>
                <input asp-for="@Model.Transacciones[0].Fecha" class="form-control" />
                <span asp-validation-for="@Model.Transacciones[0].Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Transacciones[0].Monto" class="control-label"></label>
                <input asp-for="@Model.Transacciones[0].Monto" class="form-control" />
                <span asp-validation-for="@Model.Transacciones[0].Monto" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:5%">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="button"
                       class="btn btn-warning"
                       value="Cancelar"
                       onclick="location.href='@Url.Action("Index")'" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
